<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
	<div id="wrapper">
	<header th:replace="layout :: frgHeader"></header>	
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Begin Page Content -->
			<div class="container">
				<div class="container-fluid">			
					<br />
			<div class="card col-md-12">
				<div class="card-body">
					<div class="form-group row">
						<div class="content col-sm-1">
							<i class="fas fa-utensils fa-2x"></i>
						</div>
						<h4 class="card-title col-sm-10" th:text="${title}"></h4>					
					</div>
					<hr />
					
					<form th:action="@{/receta/save}" th:object="${receta}" method="post">
						
						
						
						
						<!--  
						<div class="form-group row">
							<div class="content col-sm-3">
								<i class="fas fa-utensils"></i>
								<label class="h5 col-form-label">&nbsp;Usuario:</label>						
							</div>
							<div class="content col-sm-6">
							<select class="nice-select wide form-control" th:field="*{cliente}">
									<option value="0">-- Seleccione --</option>
									<option th:each="cli : ${clientes}" th:value="${cli}"
										th:text="${cli.nombres}"
										th:selected="${cliente == cli}"></option>
								</select>											
							</div>
						</div>
							-->
							<br><a></a>
							
						<div class="input-group-icon mt-10">
										<div class="icon">
											<i class="fas fa-info-circle" aria-hidden="true"></i>
										</div>
										<input th:field="*{fecha}" placeholder="Fecha" 
											class="single-input" type="date"											
											th:errorclass="'form-control is-invalid'">
										 <small
											class="invalid-feedback"
											th:if="${#fields.hasErrors('fecha')}"
											th:errors="*{fecha}"></small>
									</div>
									
										
						<br>
						<br><a></a>
						<table id="tblAgregarDetalle">
							<thead>
								<tr>
									<td>Nombre generico</td>
									<td>Nombre comercial</td>
									<td>Componente Activo</td>
									<td>Dosis</td>
									<td>Indicaciones</td>
									<td></td>
								</tr>
							</thead>				
							<tbody>
								<tr>
									<td>
											<input  name="txtnombreGenerico" id="txtnombreGenerico" type="text" class="single-input form-control" />							
									</td>																						
																																		
									<td>
											<input  name="txtnombreComercial" id="txtnombreComercial" type="text" class="single-input form-control" />										
									</td>
									<td>
											<input  name="txtcomponenteActivo" id="txtcomponenteActivo" type="text" class="single-input form-control" />										
									</td>
									<td>
											<input  name="txtdosis" id="txtdosis" type="text" class="single-input form-control" />										
									</td>
									<td>
											<input  name="txtindicaciones" id="txtindicaciones" type="text" class="single-input form-control" />										
									</td>
									<td>
									<button type="button" id="btnAgregar" class="btn btn-sm btn-success"><i class="fas fa-plus"></i></button>
									</td>
								</tr>										
							</tbody>				
						</table>
						<br>
						<table class="table ">	
						<thead>
							<tr>
								<td>Nombre generico</td>
									<td>Nombre comercial</td>
									<td>Componente Activo</td>
									<td>Dosis</td>
									<td>Indicaciones</td>
									<td></td>
							</tr>
						</thead>		
						<tbody id="tblDetalle">
						</tbody>								
						</table>
						
						<div class="form-group row">
							<div class="col-sm-4">
								<a class="btn btn-danger" th:href="@{/receta/list}">Cancelar</a>
								<input type="submit" class="btn btn-success" value="Ingresar" />
							</div>
						</div>
	
						<input type="hidden" th:field="*{idreceta}" />
										
					</form>
				</div>
			</div>
				</div>
				<br />
				<br />
				<footer th:replace="layout :: frgFooter"></footer>
			</div>
		</div>
	</div>
	
	<script th:src="@{/js/receta-detail.js}"></script>

	
</body>
</html>