<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
<div id="wrapper">
	<header th:replace="layout :: frgHeader"></header>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">				
				<br />
				<div class="card col-md-12">
					<div class="card-body">
						<div class="form-group row">
							<h3 class="card-title col-sm-10" th:text="${title}"></h3>
						</div>
						<hr />
						<table class="table table-hover">
							<thead>
								<tr>
									<th><i class="fas fa-coins"></i>&nbsp;Fecha</th>
																
									<th><a class="btn btn-sm btn-success" th:href="@{/receta/create}" >
										<i class="fas fa-plus"></i>&nbsp;Nuevo</a>
									</th>
								</tr>
							</thead>
							<tbody>						
								<tr th:each="receta : ${list}" >
								
									<td th:text="${#dates.format(receta.fecha, 'dd-MMMM-yyyy')}"></td>
									
									
								</tr>
							</tbody>
						</table>
						
						
					</div>
				</div>
				<br/>
				
						
			</div>
			<br />
			<br />
			<footer th:replace="layout :: frgFooter"></footer>
		</div>
	</div>
</div>
</body>
</html>